h1,
h2,
h3,
h4 {
  line-height: 100%;
}

.header__icon .icon {
  fill: #70846f !important;
  color: #70846f !important;
}
.icon-cart {
  width: 2.5rem !important;
  height: 2.5rem !important;
}
.subtitle {
  line-height: 125%;
}

@media screen and (min-width: 990px) {
  .header {
    grid-template-columns: 220px auto 220px;
  }
  .header__inline-menu {
    display: flex;
    justify-content: center;
  }
}
