h1,
h2,
h3,
h4 {
  line-height: 100%;
}

.header__icon .icon {
  fill: #70846f !important;
  color: #70846f !important;
}
.icon-cart {
  width: 2.5rem !important;
  height: 2.5rem !important;
}
.subtitle {
  line-height: 125%;
  color: rgba(var(--color-foreground));
}
.double-button-container {
  display: flex;
  gap: 16px;
}
.button {
  border-width: 1px;
}
.button::after,
.button::before {
  display: none;
}
.button:hover,
.button:focus-visible,
.button:focus,
.button.focused {
  background-color: transparent;
  border-color: var(--color-button-text);
}
.button--secondary:hover,
.button--secondary:focus-visible,
.button--secondary:focus,
.button--secondary.focused {
  background-color: var(--color-button);
  border-color: var(--color-button);
}
@media screen and (min-width: 990px) {
  .header {
    grid-template-columns: 220px auto 220px;
  }
  .header__inline-menu {
    display: flex;
    justify-content: center;
  }
}
