h1,
h2,
h3,
h4 {
  line-height: 100%;
}
p {
  /* line-height: 125%; */
}
.subtitle p {
  line-height: 150%;
}
.header__heading-link {
  padding: 0;
}
.header__menu-item {
  font-size: 16px;
}
.header__menu-item,
.menu-drawer__menu-item {
  font-weight: 500 !important;
}
.header-wrapper {
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
}

.list-menu {
  flex-wrap: nowrap !important;
}
.list-menu li {
  white-space: nowrap;
}
.header__icon .icon {
  fill: #70846f !important;
  color: #70846f !important;
}
.icon-cart {
  width: 2.5rem !important;
  height: 2.5rem !important;
}
.subtitle {
  line-height: 150%;
  color: rgba(var(--color-foreground));
}
.double-button-container {
  display: flex;
  gap: 16px;
}
.button {
  border-width: var(--buttons-border-width);
  border-color: rgba(var(--color-button));
  border-style: solid;
  transition: 0.1s ease;
}
.button--secondary {
  border-color: rgba(var(--color-button-text));
}
.button::after,
.button::before {
  display: none;
}
.button:hover,
.button:focus-visible,
.button:focus,
.button.focused {
  background-color: transparent;
  border-color: rgba(var(--color-button-text));
}
.button--secondary:hover,
.button--secondary:focus-visible,
.button--secondary:focus,
.button--secondary.focused {
  background-color: #3c534a;
  border-color: #3c534a;
}
.image-text-section {
  position: relative;
}
.image-text-image-container {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
}
.image-text-column {
  width: 100%;
  display: flex;
  align-items: center;
}
.image-text-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.image-text-circle-bg {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block !important;
  transform: translateY(-9.5px);
}
.multicolumn-list {
  gap: 64px;
}

.multicolumn-card__info h3 {
  font-family: poppins, sans-serif !important;
  font-weight: 700;
  font-size: 1.6rem;
}
.multicolumn-card__info {
  padding: 1.25rem 1rem 1rem !important;
}
.image-text-container {
  margin: auto;
  display: flex;
  gap: 96px;
  align-items: center;
  position: relative;
}
.image-with-text {
  background-color: rgba(var(--color-background));
}
.image-with-text__grid {
  gap: 48px !important;
}
.image-with-text__grid .grid__item {
  width: calc(50% - 48px / 2);
}
.image-with-text-section-heading {
  color: rgba(var(--color-foreground));
  text-align: center;
  margin-bottom: 48px;
}
.image-with-text__heading {
  line-height: 100%;
}
.image-with-text__content {
  padding: 0 !important;
}
.accordion.content-container {
  border-bottom: 1px solid #1a2320 !important;
}
.collapsible-content summary:hover {
  background: transparent !important;
}
.collapsible-content summary:hover .accordion__title {
  text-decoration: none !important;
}
.collapsible-content__grid {
  gap: 48px;
  flex-wrap: nowrap;
}
.collapsible-content__grid .grid__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(50% - 48px / 2);
}
#bg {
  left: 0;
  top: 0;
  pointer-events: none;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
  max-width: 1400px !important;
  max-height: 652px !important;
  display: block;
}
.hide-lg {
  display: none;
}
.contact-custom-section {
  padding: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--page-width);
  margin: auto;
}
.list-social__item .icon {
  width: 3.5rem !important;
  height: 3.5rem !important;
}
.list-social__link {
  padding: 0.7rem !important;
}
.contact__fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.field::after,
.field::before {
  display: none !important;
}
.field__input {
  border-bottom: 1px solid #1a2320;
  border-radius: 0;
  padding-left: 0 !important;
}
.field__input:focus {
  box-shadow: none;
  border-radius: 0;
}
.field__label {
  left: 0 !important;
  color: #1a2320;
}
.full-field {
  grid-column: 1 / span 2;
}
.contact__button {
  margin-top: 15px;
}
.contact {
  padding: 0;
}
.text-area {
  padding-top: 0;
  margin-top: 2.2rem;
  min-height: 8rem;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
.footer__content-top {
  padding: 0 !important;
}
.footer-logo {
  width: 100%;
}

.footer-block,
.footer-block__details-content {
  width: fit-content !important;
  flex-grow: 0;
}
.footer__blocks-wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 2px solid #3c534a;
  border-bottom: 2px solid #3c534a;
  justify-content: space-between;
  gap: 2rem !important;
}
.footer-block__details-content .link {
  padding: 0 !important;
}
.footer__content-bottom {
  border: none !important;
  padding-top: 2rem !important;
}
.footer__content-bottom-wrapper {
  justify-content: flex-start !important;
}
.footer-block__newsletter {
  width: fit-content;
}
.newsletter-form__field-wrapper,
.newsletter-form {
  max-width: none !important;
}
.newsletter-form__field-wrapper .field__input {
  background-color: #ffffff;
  color: #1a2320;
  padding-left: 0.8rem !important;
  border: 1px solid #ffffff !important;
  height: 100%;
}
.newsletter-form__field-wrapper .field__input::selection {
  background-color: rgb(197, 223, 233);
}
.newsletter-form__field-wrapper .field__label {
  left: 0.8rem !important;
  opacity: 0.5;
}
.newsletter-form__field-wrapper .field__button {
  background-color: #70846f !important;
  width: 7rem;
  height: calc(100% - 1.75px);
  margin-top: 1px;
  font-size: 18px;
  letter-spacing: 0.006rem;
}
.newsletter-form__field-wrapper .field__button svg {
  transition: 0.2s ease;
}
.newsletter-form__field-wrapper .field__button:hover svg,
.newsletter-form__field-wrapper .field__button:focus svg,
.newsletter-form__field-wrapper .field__button:focus-visible svg {
  transform: translateX(4px);
}
.footer-block__heading {
  text-align: left;
}
.footer__newsletter {
  margin-left: 0 !important;
}
.newsletter-text {
  text-align: left;
}
.field__input:-webkit-autofill ~ .field__button {
  color: #ffffffcc;
}
.quantity-popover-container {
  border: 1px solid #1a2320;
  border-radius: 8px;
}
.quantity-popover-wrapper {
  gap: 1rem;
}
.cart-count-bubble span {
  font-size: 12px;
}
.cart-remove-button {
  /* width: 53.5px; */
  aspect-ratio: 1/1;
}
.cart__checkout-button:hover,
.cart__checkout-button:focus,
.cart__checkout-button:focus-visible,
.cart__checkout-button.focused .cart-drawer__empty-content .button:hover,
.cart-drawer__empty-content .button:hover,
.cart-drawer__empty-content .button:focus,
.cart-drawer__empty-content .button:focus-visible,
.cart-drawer__empty-content .button.focused {
  color: rgba(var(--color-button)) !important;
  border-color: rgba(var(--color-button)) !important;
}
#customer_login input,
#create_customer input,
#RecoverEmail {
  border-bottom: 1px solid #1a2320 !important;
  border-radius: 0;
  box-shadow: none !important;
  padding-left: 0;
}
#customer_login label,
#create_customer label,
.customer.login label {
  left: 0 !important;
}
#customer_login button,
#create_customer button {
  width: 100%;
}
.template-404 .button:hover,
.template-404 .button:focus,
.template-404 .button:focus-visible,
.template-404 .button.focused {
  color: rgba(var(--color-button));
  border-color: rgba(var(--color-button));
}
.form__message {
  border: none !important;
  box-shadow: none !important;
}
.footer-block__details-content .list-menu__item--link {
  font-size: 1rem;
}
.multicolumn-video-container {
  display: flex;
  gap: var(--grid-desktop-horizontal-spacing);
}
.multicolumn-video-item {
  padding-bottom: 28%;
  position: relative;
  width: 100%;
  height: 0;
}
.multicolumn-video {
  border: none;
  box-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 990px) {
  .header {
    /* grid-template-columns: 220px auto 220px; */
    display: flex;
    justify-content: space-between;
  }
  .header__inline-menu {
    display: flex;
    justify-content: space-between;
  }
  .image-with-form {
    align-items: center;
  }
  .footer {
    padding-top: 96px !important;
    padding-bottom: 96px !important;
  }
  .footer-block {
    max-width: 33% !important;
  }
}
@media screen and (max-width: 989px) {
  .multicolumn-card__image-wrapper--third-width {
    max-width: 200px;
  }
  .multicolumn-list {
    gap: 32px;
  }
  .double-button-container {
    width: 100%;
    flex-direction: column;
    /* justify-content: stretch; */
  }
  .collapsible-content__grid {
    gap: 16px;
    flex-direction: column !important;
  }
  .collapsible-content__grid .grid__item {
    width: 100% !important;
  }
  #bg {
    display: none;
  }
  .hide-lg {
    display: block;
  }
  .order-reverse-mb {
    flex-direction: column-reverse !important;
  }
  .image-with-text__grid {
    gap: 16px !important;
  }
  .image-with-text__grid .grid__item {
    width: 100%;
  }
  .contact-custom-section {
    padding: 24px;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
  .contact__button .button {
    width: 100%;
  }
  .image-with-form {
    gap: 32px !important;
  }
  .footer {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
  }
  .multicolumn-video-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 749px) {
  .image-text-container {
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  .footer-block {
    margin-right: 0 !important;
  }
  .newsletter-footer-block {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 500px) {
  .footer-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
}
